@use "_animation"
;
$Black : #000000;
$LightGrey:rgba(254, 230, 230, 0.782);
$Yellow:#cdf547;
$White:aliceblue;

*, *::before, *::after {
    box-sizing:border-box;
}

body {
    font-size:20px;
    color:$Yellow;
    margin:0;
    padding:0;
    background:$White;
    overflow-x:hidden;
}

#app {
    padding:5rem;
}

.container {
    width:100%;
    max-width:800px;
    padding:2rem;
    margin:0 auto;
    background:$Black;
    border:20px solid $Black;
}

h1 {
    font-size:1.9em;
}

#game {
    width:100%;
    height:300px;
    background:$White;
    display:flex;
    gap:2rem;
    align-items:flex-end;
    justify-content: center;
    position:relative;
}

#player {
    max-width:20%;
    top:252px;
    width:50px;
    background: green;
    padding: 1.5rem .5rem;
    position: absolute;
}

.animate {
    animation:jump 1s;
  }

  
  #block {
      width:20%;
      background:$Yellow;
      padding:1rem;
      border-radius:20px;
      position:absolute;
      left:650px;
      animation:blockMove 2s infinite linear;    
      display:none;
    }
    
// .animate-block {
//     display:block;
// }

.start-popup {
    width:100%;
    height:100%;
    background:$White;
    padding: 2rem;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    z-index:2;
    opacity:.7;
    .container {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .start-button {
        width:50%;
        padding:1rem 0;
        background:$White;
        border:none;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 20px;
        color:$Black;
        &:hover {
            background:none;
            color:$White;
            &::before, &::after {
                width:50%;
                padding:.2rem;
                content:"";
                background:$White;
            }
        }
    }
}

.close {
    display:hidden;
    opacity:0;
    height: 0;
    padding:0;
}

